<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Examples</title>
    <style>
      p {
        margin: 0;
        padding: 0;
      }
    </style>
  </head>
  <body>
    <% for (const [layoutName, pages] of Object.entries(htmlWebpackPlugin.options.pageGroup)) { %>
    <div style="display: inline-block;">
      <h2><%= layoutName %></h2>
      <ul>
        <% for (const page of pages) { %>
        <li>
          <a href="/<%= page.filename %>"><%= page.name %></a>
        </li>
        <%}%>
      </ul>
    </div>
    <% } %>
  </body>
</html>
